<table class="chart">
  <caption>
    <h1>
      Breakdown by notification type
    </h1>
  </caption>
  <thead>
    <tr>
      <th class="xLabel">Type</th>
      <th class="yLabel">Sent</th>
    </tr>
  </thead>
  <tbody class="scale" aria-hidden="true">
    <tr>
      <td colspan="2">100</td>
    </tr>
    <tr>
      <td colspan="2">75</td>
    </tr>
    <tr>
      <td colspan="2">50</td>
    </tr>
    <tr>
      <td colspan="2">25</td>
    </tr>
  </tbody>
  <tbody class="body">
    <tr>
      <td class="record" title="SMS">SMS</td>
      <td class="sales" style="height: 66%" title="66"><span>66</span></td>
    </tr>
    <tr>
      <td class="record" title="Email">Email</td>
      <td class="sales" style="height: 34%" title="34"><span>34</span></td>
    </tr>
    
  </tbody>
</table>